@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// app global css in SCSS form
body,
.q-typography {
  font-family: $font-family;
  color: $font-color; // white text everywhere
}

@import 'https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap';
