@font-face {
  font-family: 'Tanker';
  src: url('./fonts/Tanker-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// app global css in SCSS form
body,
.q-typography {
  font-family: $font-family;
  color: $font-color; // white text everywhere
}

@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
