name: Terraform
on:
  workflow_call:
    secrets:
      kubeconfig:
        required: true
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
    inputs:
      environment:
        required: true
        type: string
      aws_region:
        required: false
        type: string
        default: eu-west-2
      plan_only:
        required: false
        type: boolean
        default: true

jobs:
  tf-plan:
    runs-on: ubuntu-latest
    name: Terraform Plan
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: ${{ inputs.aws_region }}

      - name: Install dependencies
        run: |
          sudo curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl

          mkdir -p $HOME/.kube

          echo "${KUBE_CONFIG}" | base64 -d > $HOME/.kube/config
        env:
          KUBE_CONFIG: ${{ secrets.kubeconfig }}

      - name: Run Terraform Plan
        working-directory: ./terraform/env/${{ inputs.environment }}
        run: |
          echo "Running Terraform plan..."
          terraform init && terraform plan

  tf-apply:
    needs: tf-plan
    if: ${{ inputs.plan_only == false }}
    name: Terraform Apply
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: ${{ inputs.aws_region }}

      - name: Install dependencies
        run: |
          sudo curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl

          mkdir -p $HOME/.kube

          echo "${KUBE_CONFIG}" | base64 -d > $HOME/.kube/config
        env:
          KUBE_CONFIG: ${{ secrets.kubeconfig }}

      - name: Apply Terraform Changes
        working-directory: ./terraform/env/${{ inputs.environment }}
        run: |
          echo "Applying Terraform changes..."
          terraform init && terraform apply -auto-approve
